*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container{
    background: white;
    margin: auto;
    width: 50%;
    height: 64vh;
    margin-top: 80px;
}

.container img{
    float: left;
}

.container .info{
    padding-top: 50px;
    margin-left: 340px;
    width: 44%;
}

.container .info .title{
    padding-bottom: 50px;
}

.container .info .title h5{
    color : gray;
    font-weight: normal;
}

.container .info p{
    font-size: 1.2rem;
    padding-bottom: 25px;
    color: gray;
}

.container .info .price{
    font-size: 2.5rem;
}

.container .info button{
    border-radius: 50px;
    margin-top: 25px;
    background: rgb(156, 235, 213);
    color: white;
    border: none;
    padding: 16px 45px;
    position: absolute;
    transform: translate(40px, -22px);
    cursor: pointer;
}